@tailwind base;
@tailwind components;
@tailwind utilities;

#messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* Provide basic styling for chat responses */
#messages a {
  color: #3498db;
  text-decoration: none;
}

#messages a:hover {
  color: #2980b9;
  text-decoration: underline;
}

#messages code {
  font-family: monospace;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: block;
  margin: 1em;
  padding: 1em;
}

#messages h1,
#messages h2, 
#messages h3, 
#messages h4 {
  font-family: serif;
  color: #333;
}

 #messages h1 {
  font-size: 2em;
}
#messages h2 {
  font-size: 1.75em;
}
#messages h3 {
  font-size: 1.5em;
}
#messages h4 {
  font-size: 1.25em;
}

#messages b {
  font-weight: bold;
}

#messages i {
  font-style: italic;
}

#messages u {
  text-decoration: underline;
}

#messages ul {
  list-style-type: disc; 
  padding-left: 2em;
}

div[ws-connect] {
    height: calc(100vh - 60px);  /* Adjust the 60px if the height of #this-div is different */
    overflow-y: auto;
}

/* div[ws-connect] {
    padding-bottom: 4.5rem; /* To avoid the last messages being hidden behind the fixed form */
/* 
#chat-form {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
} */

#this-div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.9);  /* This will give a slight white background, adjust as needed */
    padding: 10px;  /* Optional padding for appearance */
    z-index: 1000;  /* Ensures it appears above other content */
    height: 60px;  /* Adjust this if you change the height above */
}